.content-container .DraftEditor-root a.entity-hyperlink {
  color: blue;
}

.content-container .DraftEditor-root a.entity-extra {
  color: green;
}

.tooltip-editor {
  text-align:  left !important;
  width: '400px';
  overflow-x: scroll;
}

.command {
  background-color: blue;
  color: white;
  font-weight: bold;
}