@import 'oli/colors';
@import 'oli/layout';

.objective-skill-view {
  flex: 1;
  overflow: auto;

  td {
    border-top: 0;
    padding: .3rem 0;
  }

  .document {
    padding-top: 30px;
  }

  .table-toolbar {
    display: flex;
    flex-direction: row;
  }

  .rst__node .rst__nodeContent h2 {
    color: $blue;
    margin-top: 10px;
  }
}
