.RawContent {
  font-family: monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
  width: '100%';
  margin-top: 20px;
  color: black;
}

.RawContent-valid {
  background-color: rgb(170, 168, 168);
}

.RawContent-invalid {
  background-color: rgb(215, 129, 129);
}