@import 'oli/colors';
@import 'oli/typography';

.math-editor {
  .mathPreview {
    & > span {
      display: block;
      text-align: center;
      background-color: transparent;
    }

    .preview {
      display: block;
      color: $gray-lighter;
      text-align: center;
      font-family: $serif-font;
    }
  }
}
