@import 'oli/typography';

.assessment-editor {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .title-row {
    margin: 10px 0;
  }

	.docHead {
    flex: 1;
    overflow: auto;
  }

  .assessment-content {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex: 1;

    .html-editor-well {
      flex: 1;
      overflow: auto;
      padding: 0 30px 30px 30px;

      .content-decorator {
        margin-top: 20px;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  .slash {
    color: #606060;
  }
  .outline {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
  }

  .nodeContainer {
    width: 100%;
  }

  .outlineContainer {
    flex-basis: 300px;
    height: 100%;
    margin-right: 2px;
  }

  .label {
    font-family: $sans-font;
    // lineHeight: 1.25;
    font-size: 13px;
    // position: 'relative';
    // top: '-6',
    color: #606060;
  }

  .add-menu {
    button.btn.btn-sm {
      font-size: 1rem;
    }
  }
}
