@import 'oli/colors';

$active-tab: $gray-dark;

.tab-item {
  cursor: pointer;
  padding: 5px;
  border-style: solid;
  border-radius: 3px;
  border-width: 1;
  border-color: #CCCCCC;
  color: black;
  background-color: transparent;

  &:hover {
    border-bottom: 2px solid $active-tab;
  }
}

.tab-item-active {
  background-color: $active-tab;
  color: white;
}