.tabItem {
  cursor: pointer;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.71);
  border-style: solid;
  border-radius: 1px;
  border-width: 1;
  border-color: #CCCCCC;
  color: black;
}

.tabItemActive {
  background-color: transparent;
  border-style: solid none solid solid;
  font-weight: 900;
}