@import 'oli/colors';
@import 'oli/mixins';


.undo-redo-toolbar {
  display: flex;
  flex-direction: row;

  .toolbar-btn {
    cursor: pointer;
    background: transparent;
    border: none;

    i {
      padding: 6px;
    }

    &:hover {
      i {
        color: darken($selection, 10%);
      }
    }

    &:active {
      i {
        color: darken($selection, 15%);
      }
    }
  }
}