/**
* This file is not actually imported anywhere, it is used to generate the minified
* css in html_layout.ts. Edit this file, then run through https://cssminifier.com/
* to generate MINIFIED_TABLE_STYLES in html_layout.ts
*/

.oli-dnd-table {
  display: table;
  text-align: center;
}

.dnd-row {
  display: table-row;
}

.dnd-row-header {
  font-weight: 600;
  background-color: #cacaca;
  text-align: center;
}

.dnd-cell {
  display: table-cell;
  padding: 4px;
}

.target {
  min-width: 50px;
  min-height: 50px;
  padding: 4px;
  border: 1px dashed #999999;
}

.initiator {
  color: #58646c;
  border: 2px solid transparent;
  padding: 6px;
  display: inline-block;
  font-size: 14px;
  box-shadow: 2px 2px 10px 0px rgba(155,165,173,1);
  border-radius: 5px;
  white-space: nowrap;
  margin: 5px;
  background-color: #E7F4FE;
  cursor: grab;
  cursor: -webkit-grab;
  user-select: none;
}

.initiator::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  width: 12px;
  height: 24px;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3) 1px, transparent 1px, transparent 100%);
  background-repeat: repeat;
  background-size: 4px 4px;
}

.initiator:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}