@import 'oli/colors';
@import 'oli/mixins';

.question {
  .options {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    padding-top: 15px;
    @include disable-select;

    & > * {
      display: flex;
      flex-direction: row;
    }

    .option,
    .control {
      .control-label {
        margin: 0 10px;
      }

      &.clickable {
        cursor: pointer;
      }

      select {
        margin-top: -5px
      }

      &:first-child {
        .control-label {
          margin-left: 0;
        }
      }
    }
  }

  .question-body {
    margin: 15px 0;
  }

  .details-tab {
    border-bottom: none;
  }

  .skills-tab {
    .concepts-editor {
      margin: 0;
    }
  }
}