.question-editor {
  .choice-feedback {
    margin-bottom: 10px;
  }

  .itemPart {
    background-color: transparent;
    margin: 8px;
    border: 1px solid #CCCCCC;
    padding: 12px;
    border-radius: 4px;
  }
}