.objectives-editor {
    color: #666666;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #cccccc;

    .learning-objectives-label {
        margin-top: 10px;
        margin-bottom: 4px;
        font-size: .8em;
        text-transform: uppercase;
    }
}
