@import 'oli/colors';
@import 'oli/typography';

.workbookpage-editor {

  .title-row {
    display: flex;
    flex-direction: row;
  }

  .wb-tab {
    margin-left: 40px;
    margin-top: 20px;
    margin-right: 40px;
  }

  .html-editor-well {
    display: flex;
    flex-direction: row;
    padding: 12px;
  }

  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
  }

  .formulaDiv {
    background: #f9f9f9;
    border-left: 10px solid #7130c0;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    font-family: monospace;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
  }

  .codeDiv {
    font-family: monospace;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
    background-color: #CCCCCC;
    width: '100%';
  }
}