.resourceSelection {
    .modal-dialog {
        .modal-body {
            overflow-y: auto;
            display: flex;
            flex-direction: column;
        }
    }

    .searchBarContainer {
        margin-bottom: 15px;
    }
}
