@import 'oli/typography';

.pool-editor {

  .nodeContainer {
    border-style: solid solid solid none;
    border-radius: 3px;
    border-width: 1;
    border-color: #CCCCCC;

  }

  .outlineContainer {
  }

  .label {
    font-family: $sans-font;
    // lineHeight: 1.25;
    font-size: 13px;
    // position: 'relative';
    // top: '-6',
    color: #606060;
  }

  .add-menu {
    button.btn.btn-sm {
      font-size: 1rem;
    }
  }
}
