@import "oli/colors";

.likert-table {
    table {
        width: 100%;
        border-collapse: inherit;

        // border-radius: 3px;

        thead {
            text-align: center;

            tr {
                height: 40px;
            }

            th {
                font-size: 16px;
            }

            td {
                padding: 5px 5px;
            }

            // Shouldn't be td in a header, but easier than refactoring the DynaDrop item
            td:hover {
                background-color: white;
                color: #3d3d3d;
                border-radius: 8px;
            }

            label {
                margin: 0;
                float: right;
                font-weight: 600;
                font-size: 13px;
                color: #606060;

                select {
                    width: 50px;
                }
            }
        }

        tbody {
            td {
                height: 40px;
                font-size: 14px;
                padding: 10px 5px;

                &:nth-child(2):hover {
                    background-color: white;
                    color: #181b1e;
                    border-radius: 8px;
                }

                button {
                    justify-content: center;
                    border-radius: 5px;
                    color: #666;
                }

                i {
                    color: #666;
                }
            }

            .question-table-radio {
                border: 1px solid #eee;
                border-radius: 5px;
                text-align: center;
                vertical-align: middle;
                background-color: #eee;
            }
        }

        .show-on-right {
            float: 'right';
        }
    }

    .add-row {
        margin-left: 18px;
        border-bottom: 2px dashed #cccccc;
        border-left: 2px dashed #cccccc;
        border-right: 2px dashed #cccccc;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 5px 5px 5px 15px;

        button {
            display: flex;
            align-items: center;
            justify-content: center;

            // Override bootstrap button underline
            &.btn.btn-link:hover:not([disabled]),
            &.btn.btn-inline-link:hover:not([disabled]) {
                text-decoration: none;
            }

            i {
                padding-right: 8px;
                font-size: 1.5em;
            }
        }
    }
}
