.PreformattedText-code {
  font-family: monospace;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
  background-color: #CCCCCC;
  width: '100%';
}