.Unsupported-style {
  font-family: monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
  background-color: #AA5939;
  color: #FBEDE7;
  width: '100%';
  margin-top: 20px;
}