@import 'oli/colors';
@import 'oli/mixins';

.content-editor {
  padding: 0 10px 0 30px;

  .content-options {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    padding-top: 15px;

    @include disable-select;

    select {
      margin-top: -5px;
    }
  }

  .content-body {
    margin: 15px 0;
  }
}
