@import 'oli/colors';

.selection-editor {
  padding: 0 20px;

  .controls {
    margin: 10px 0;

    .insert-toolbar {
      span {
        line-height: 1.25;
        color: $gray-dark;
      }

      a {
        font-size: 0.8rem;
        cursor: pointer;
        list-style-type: disc;
      }
    }
  }
}
