@import 'oli/colors';

.help-popover-trigger {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  color: $blue;
  cursor: pointer;
}

.help-popover-container {
  max-width: 250px;
  padding: .6rem .2rem;
  text-align: left;

  p {
    line-height: 1.3rem;
    margin-bottom: 0;
  }
}