@import 'oli/colors';

.help-popover-trigger {
  display: inline-block;
  height: 100%;
  line-height: 100%;
  color: $blue;
  cursor: pointer;
}

.help-popover-container {
  max-width: 250px;
  padding: 0 .2rem;
  text-align: left;

  p {
    margin-bottom: 0;
  }
}