/** OLI Colors */
@import 'palettes/flatui';
@import 'palettes/acrylic';

// Base Colors
$link-color: #0067cb;
$primary: #FFFFFF;
$secondary: #0067cb;
$black: #000000;
$blue: #0067cb;
$lblue: #a3b8cc;
$grey: #CCCCCC;
$offwhite: #f0f4fa;
$white: #ffffff;

// Indication Colors
$danger: $pomegranite;
$warning: $orange;
$info: $peter-river;

// Action Colors
$remove: $pomegranite;
$add: #0067cb;
