@import './animations';
@import './buttons';
@import './colors';
@import './forms';
@import './layout';
@import './modals';
@import './variables';
@import './tables';
@import './typography';
@import '../editors/content/common/draft/DraftWrapper';
@import './sortabletree.scss';

body {
	background: #f3f3f4;
	width: 100%;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: $sans-font;
	outline: none;
	overflow: hidden;
}

#app {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

//Content Editable Focus
[contenteditable]:focus {
    outline: 0px solid transparent;
}

i.unicode-icon {
  font-style: normal;
  font-family: serif;
  font-weight: 700;
}

.dropdown-menu .dropdown-item {
	cursor: pointer;
}
