.draft-wrapper {

  width: 100%;

  .customCodeBlock {
    background-color: #999;
  }

  .draft-paragraph {
    padding-bottom: 15px;
    &:last-child{
      padding-bottom: 0px;
    }
  }

  h1 {
    .public-DraftStyleDefault-block {
      &.public-DraftStyleDefault-ltr {
        line-height: 4.5rem;
      }
    }
  }
}
