.draft-wrapper {

  width: 100%;

  .customCodeBlock {
    background-color: #999;
  }

  .gutter {
    width: 50px;
  }

  h1 {
    .public-DraftStyleDefault-block {
      &.public-DraftStyleDefault-ltr {
        line-height: 4.5rem;
      }
    }
  }
}
