.customCodeBlock {
  background-color: #999;
}

.public-DraftStyleDefault-unorderedListItem {
  .public-DraftStyleDefault-block {
    display: inline;
  }
}

.public-DraftStyleDefault-orderedListItem {
  .public-DraftStyleDefault-block {
    display: inline;
  }
}