@import 'abstracts/variables';
@import '../editors/content/common/draft/DraftWrapper';

body { background: $color-offwhite; width: 100%; height: 100%; padding-top: 50px; -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; font-family: $sans-font; outline: none;}
#app { margin: 0px; padding: 0px; width: 100%; height: 100%;}
.sidebar .nav-link { border-radius: 0px; }

//Content Editable Focus
[contenteditable]:focus {
    outline: 0px solid transparent;
}

.document {

	h2 {
		color: $d_blue;
		margin-bottom: 42px !important;

		&.organize {
			display:inline-block;
		}
	}
}
//Button Global
.btn {
	border-radius: 0px;
	cursor: pointer;
	background-color: transparent;
	border: none;

	&.btn-primary {
		background-color: $color-blue;
	}

	&.outline {
		background-color: transparent;
		border: 2px solid $color-white;
	}

	&.serif {
		font-family: $serif-font;
	}

	&.focus {
		box-shadow: 0 0 0 0px rgba(2,117,216,.25);
		outline: none;
	}

	&.active {
		box-shadow: 0 0 0 0px rgba(2,117,216,.25);
		outline: none;
	}
}

.btn-link.focus {
	box-shadow: 0 0 0 0px rgba(2,117,216,.25);
		outline: none;
}

.btn-link.active {
	box-shadow: 0 0 0 0px rgba(2,117,216,.25);
		outline: none;
}


// Header
.navbar{ 
	background-color: $color-offwhite!important;
	border-bottom: 2px solid $color-blue;
	color: $color-black;
	font-family: $serif-font;
	.navbar-brand {
		font-size: 16px;
		font-weight: 500;
	    font-style: normal;
	    letter-spacing: 0.01rem;
	    line-height: 30px;
	    color: $color-black;
	    cursor: pointer;
	    img {
	    	margin-right:10px;
	    }
	}
	.navbar-nav {
		margin-left:auto;
		.nav-link {
			color: $color-blue;
			cursor: pointer;
			&.active {
				color: $color-blue;
			}
		}
	}
}

// Sidebar
.sidebar {
	background-color: $color-blue;
	color: $color-white;
	font-size: 16px;
	h1 {
		margin: 0px;
	    font-size: 17px;
	    padding: 30px 1.3em 0.4em 0.9em;
	    font-family: $serif-font;
	    color: $color-white;
	}
	h2 {
		margin: 0px;
	    font-size: 12px;
	    text-transform: uppercase;
	    padding: 30px 1.3em 0.4em 1.3em;
	    font-weight: 700;
	    color: $color-lblue;
	}
	a {
		cursor: pointer;
		padding: .1em 1em;
	}
}

// Editor Global
.editor {
	margin: 3em auto;

	h2 {
		font-family: $serif-font;
		margin: 0em auto 1em auto;
	}
}

// Create a Course
.createCourse {
	background-color: $color-blue;
	background-image: url(../../assets/book.svg);
	background-repeat: no-repeat;
    background-size: 30%;
    background-position-x: 25%;
    background-position-y: 40%;
	padding-top: 4rem;
    padding-bottom: 4rem;
    margin-bottom: 3rem;
    text-align: left;
    color: $color-white;

    button {
    	color: $color-white;
    	margin-top:2rem;

    	img {
    		margin-right: 0.5rem;
    	}

    	&:hover {
    		background-color: $color-white;
    		color: $color-blue;
    	}
    }

    &.full {
    	height: 100vh;
    	padding: 10rem;

    	h1 {
    		font-family: $serif-font;
    	}

    	fieldset {
    		width: 100%;
    		position: relative;
    	}

    	input {
    		//margin-top: 1rem;
    		padding: 2rem;
    		color: #000;
    		//font-size: 1.5em;
    		border: 1px solid #0055ab;
    	}

    	input::placeholder {
		  color: #c3c6cb;
		}

		label {
		  top: 37px;
		  position: absolute;
		  display: block;
		  transition: 0.2s;
		  margin-left: 2rem;
		  margin-top: -25px;
		}

		input:focus + label{
		  top: 30px;
		  margin-top: 0px;
		  margin-left: 2rem;
		  color: #000;
		}

		input:focus {
			outline: 2px solid #0055ab;
			// border: solid 8px #0055ab;
		}
    }
}

// My Courses
.courseView {

	&.editor {
		margin-top:0px;
	}

	h2 {
		margin: 1em auto;
	}

	.course {
		background-color: $color-white;
		min-height: 142px;
    	position: relative;
    	transition: box-shadow 0.3s ease-in-out;

    	&:hover {
    		box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.17);
    	}

    	.content {
    		background-color: $color-white;
		    position: absolute;
		    padding: 25px 28px;
		    width: 85%;
		    min-height: 40px;
		    bottom: 0px;
		    right: 0px;
		    font-size: 13px;

		    .information {
		    	font-family: $serif-font;
		    	color: $color-blue;
		    	padding-top: 0.8em;

		    	span {
		    		display: block;
		    		border-right: 2px solid #CCC;
		    	}

		    	.title {
		    		text-transform: uppercase;
		    	}
		    }

		    .btn {
				border-radius: 0px;
				font-size: 13px;
				text-transform: uppercase;
				padding: 1.4em 1em;
				font-weight:600;
				cursor: pointer;
			}

    	}
	}

}

//footer
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 124px;
    background-color: #f2f2f2;
    border-top: 1px solid #e8e8e8;
    padding: 3rem;
    margin-top: 20rem;
    color: #0067cb;
    line-height: 1.2em;
    font-family: $serif-font;
    font-size: 14px;
    z-index: 9999;

    .ccLicense {
	    float: left;
	    margin-right: 2.5rem;
	}
}

// Tables Global
.table {

	background-color: $color-white;

	thead {
		text-transform: uppercase;
		background-color: $color-white;

		th {
			font-weight: 100;
			font-size: 13px;
			color: $color-grey;
		}
	}

	td {
		vertical-align: middle;
	}

	th {
		vertical-align: middle;
	}
}

figure {
	line-height: 1.5rem;
    margin-top: 0px;
    margin-bottom: 0;
}

.public-DraftStyleDefault-block {
  &.public-DraftStyleDefault-ltr {
    margin-top: 0rem;
    margin-bottom: 0;
  }
}

h1 {
	.public-DraftStyleDefault-block {
	  &.public-DraftStyleDefault-ltr {
	    line-height: 4.5rem;
    	// margin-top: 3rem;
	  }
	}
}

.mathPreview {
	>span {
		display: block;
		text-align: center;
		background-color: blue;
	}
	.preview {
		// margin-right: 1rem;
		display: block;
		color: $color-grey;
		text-align: center;
		font-family: $serif-font;
	}
}

.public-DraftStyleDefault-ul, .public-DraftStyleDefault-ol {
    margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}