@import 'abstracts/variables';
@import '../editors/content/common/draft/DraftWrapper';
// Examples
body { background: $primary; width: 100%; height: 100%; padding-top: 50px;}
#app { margin: 0px; padding: 0px; width: 100%; height: 100%;}
.sidebar .nav-link { border-radius: 0px; }