@import 'oli/colors';

.tree-container {
  max-height: 100%;
  background-color: #EAECEF;
  border-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  .tree-list {
    max-height: 100%;
    overflow: hidden;
    padding: 0.4em;
    padding-bottom: 1px;
  }
}

.div-node {

  position: relative;
  display: block;

  .top-drop {
    position: absolute;
    top: -5px;
    height: 10px;
    width: 100%;
  }

  .bottom-drop {
    position: absolute;
    top: 35px;
    height: 10px;
    width: 100%;
  }
}