@import 'oli/colors';

.treeContainer {
  background-color: #E2E4E6;
  border-radius: 3px;

  .treeList {
    padding: 0.4em;
    padding-bottom: 1px;
  }

  a.insertNew:not([href]):not([tabindex]):hover {
    color: darken(#3f4446, 20%);
    text-decoration: underline;
    background-color: darken(#edeff0, 10%);
  }

  a.insertNew:not([href]):not([tabindex]) {
    color: #3f4446;
  }

  .insertNew {
    display: block;
    cursor: pointer;
    font-size: 80%;
    border-radius: 0 0 3px 3px;
    padding: 8px 10px;
  }
}

.div-node {

  position: relative;
  display: block;

  .top-drop {
    position: absolute;
    top: -5px;
    height: 10px;
    width: 100%;
  }

  .bottom-drop {
    position: absolute;
    top: 35px;
    height: 10px;
    width: 100%;
  }
}