@import 'oli/typography';

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 124px;
  background-color: #f2f2f2;
  border-top: 1px solid #e8e8e8;
  padding: 3rem;
  line-height: 1.2em;
  font-family: $serif-font;
  font-size: 14px;
  z-index: 9999;

  .ccLicense {
    float: left;
    margin-right: 2.5rem;
    color: #0067cb;
  }
}
