@import 'oli/colors';
@import 'oli/typography';

.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 46px;
  padding: 5px 30px;
  border-bottom: 1px solid rgba(0,0,0,0.35);
  background-color: white;
  color: #66757f;
  font-size: 13px;
  font-weight: 700;

  .header-link {
    cursor: pointer;
    margin-right: 30px;
    color: #66757f;

    &:hover {
      text-decoration: underline !important;
    }
  }

  .course-link {
    color: #222;
  }

  .header-dropdown {
    margin-right: 10px;
    display: inline;
  }

  .header-logo {
    flex: 0 0 auto;
  }

  .header-content {
    flex: 1 1 auto;
    position: relative;/* need this to position inner content */
  }

  .header-logout {
    flex: 0 0 auto;

    .header-link {
      margin-right: 0;
    }
  }


}

