@import 'oli/colors';
@import 'oli/typography';


.saving-enter {
  opacity: 0.1;
}

.saving-enter.saving-enter-active {
  transition: opacity 250ms ease-in-out;
  opacity: 1;
}

.saving-leave {
  opacity: 1;
}

.saving-leave.saving-leave-active {
  transition: opacity 500ms ease-in-out;
  opacity: 0;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 46px;
  padding: 5px 30px;
  border-bottom: 1px solid rgba(0,0,0,0.35);
  background-color: white;
  color: #66757f;
  font-size: 13px;
  font-weight: 700;

  .header-link {
    cursor: pointer;
    margin-right: 30px;
    color: #66757f;

    &:hover {
      text-decoration: underline !important;
    }
  }

  .save-notification {
    font-weight: 300;
    padding-right: 30px;

  }

  .course-link {
    color: #222;
  }

  .header-dropdown {
    margin-right: 10px;
    display: inline;
  }

  .header-logo {
    flex: 1 1 auto;
  }

  .header-content {

  }

  .header-logout {
    flex: 0 0 auto;

    .header-link {
      margin-right: 0;
    }
  }


}

