@import 'oli/colors';
@import 'oli/typography';

.header {

  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 5px;
  border-bottom: '1px solid grey';
  background-color: $blue;
  color: $white;
  font-size: 16px;
  font-weight: 600;

  .header-link {
    cursor: pointer;
    margin-right: 10px;
    color: $white;

    &:hover {
      text-decoration: underline !important;
    }
  }

  .course-link {
    color: $gray-lighter;
  }

  .header-dropdown {
    margin-right: 10px;
    display: inline;
  }

  .header-logo {
    flex: 0 0 auto;
  }

  .header-content {
    flex: 1 1 auto;
    position: relative;/* need this to position inner content */
  }

  .header-logout {
    flex: 0 0 auto;
  }


}

