@import 'oli/colors';
@import 'oli/typography';

.import-course-view {
  background-color: $blue;
  background-image: url(../../assets/book.svg);
  background-repeat: no-repeat;
  background-size: 30%;
  background-position-x: 25%;
  background-position-y: 40%;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-bottom: 3rem;
  padding-left: 4rem;
  text-align: left;
  color: $white;

  button {
    color: $white;
    margin-top:2rem;

    img {
      margin-right: 0.5rem;
    }

    &:hover {
      background-color: $white;
      color: $blue;
    }
  }

  &.full {
    height: 100vh;
    padding: 10rem;

    h1 {
      font-family: $serif-font;
    }

    fieldset {
      width: 100%;
      position: relative;
    }

    input {
      padding: 2rem;
      color: #000;
      border: 1px solid #0055ab;
    }

    input::placeholder {
      color: #c3c6cb;
    }

    label {
      top: 37px;
      position: absolute;
      display: block;
      transition: 0.2s;
      margin-left: 2rem;
      margin-top: -25px;
    }

    input:focus + label {
      top: 12px;
      margin-top: 0px;
      margin-left: 2rem;
      color: #000;
    }

    input:focus {
      outline: 2px solid #0055ab;
    }
  }
}