@import 'oli/colors';
@import 'oli/typography';

$button-blue: #3498DB;

.import-course-view {
  min-width: 800px;
  background: linear-gradient(to top, #6fc7e4, #75aaf0);
  margin-bottom: 3rem;
  text-align: left;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;

  .import-content {
    width: 800px;
  }

  &.full {
    height: 100vh;
    padding: 10rem;

    h2 {
      margin-bottom: 20px;
      font-size: 1.7rem;
      text-align: center;
    }

    input {
      min-width: 576px;
      margin: 0 auto;
      outline: none;
      padding: 1rem;
      font-size: 1.05rem;
      line-height: 1.2rem;
      background: transparent;
      border: none;
      border-bottom: 2px solid white;
      color: white;

      &::placeholder {
        color: rgba(255, 255, 255, 0.8);
      }
    }

    .creation-container {
      text-align: center;
      outline: none;

      button {
        background-color: $button-blue;
        text-decoration: none;
        color: white;
        width: 250px;
        height: 75px;
        position: relative;
        margin-top: 30px;
        border: none;
        padding: 16px;
        font-size: 1.6rem;
        border-radius: 10px;
        transition: all 0.2s;
        top: 18px;

        &:not(:disabled) {
          cursor: pointer;
          box-shadow: 0px 15px 0px 0px darken($button-blue, 5%);
          top: 3px;
        }
        &:active {
          box-shadow: 0px 7px 0px 0px darken($button-blue, 5%);
          top: 11px;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }
}
