@import 'oli/layout';

.resource-view {
  flex: 1;
  overflow: auto;

  .table-toolbar {
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin: 10px 0 20px 0;
  }

  .document {
    padding-top: 30px;
  }

  .title-btn {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
  }

  .title-icon {
    width: 20px;
  }
}

.inlineSearch {
  width: 500px;
}