.item {
  width: 100%;
  
  &:hover {
    
  }
}

.section {
  width: 100%;
  padding-top: 4px;
  padding-left: 6px;
}


.module {
  width: 100%;
}

.unit {
 width: 100%;
}

.sectionChildren {
  width: 100%;
  padding-left: 30px;
}

.moduleChildren {
  width: 100%;
  padding-left: 30px;
}

.sequenceChildren {
  width: 100%;
  padding-left: 30px;
}

.unitChildren {
  width: 100%;
  padding-left: 30px;
}