.item {
  width: 100%;
  
  &:hover {
    
  }
}

.section {
  width: 100%;
}


.module {
  width: 100%;
}

.unit {
 width: 100%;
}

.sectionChildren {
  padding-left: 30px;
}

.moduleChildren {
  padding-left: 30px;
}

.sequenceChildren {
  padding-left: 30px;
}

.unitChildren {
  padding-left: 30px;
}