.speakerContainer {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0 20px 0;

    .content-decorator {
        margin-left: 30px;
    }
}

.lineContainer {
    .content-decorator {
        margin-left: 30px;
    }
}

.addButton {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0067cb;

    p {
        font-size: 1rem;
        color: #212529;
    }

    i {
        font-size: 30px;
        cursor: pointer;
    }

    &.addSpeaker {
        margin-left: 20px;
    }

    &.addLine {
        justify-content: flex-start;
        margin-left: 30px;
        height: 45px;
    }
}
