.lineEditor {
    display: flex;
    align-items: center;
    margin: 5px 0 5px 0px;

    .dropdown {
        margin-left: 10px;
    }

    button {
        margin-left: 30px;
    }

    .line {
        height: 46px;
        display: flex;
        align-items: end;
    }
}
