@import "oli/typography";
@import "oli/colors";
@import "oli/mixins";

.embed-activity-editor {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .title-row {
        margin: 10px 0;
    }

    .embed-activity-content {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        flex: 1;
        position: relative;

        .html-editor-well {
            display: flex;
            flex: 1;
            flex-direction: column;
            overflow: auto;
            padding: 10px 40px 75px 40px;

            .TitleTextEditor {
                margin-bottom: 10px;
                border-bottom: 1px solid $gray-lighter;
            }

            .content-decorator {
                margin-top: 20px;

                &:first-child {
                    margin-top: 0;
                }
            }

            .content-container > * {
                margin: 10px 0;
            }
        }
    }

    .embed-activity-container {
        display: flex;
        flex: 1 1 auto;
    }
}
