// Home for style variables
$serif-font: 'Roboto Slab', serif;
$sans-font: 'Open Sans', sans-serif;
$primary: #FFFFFF;
$color-offwhite: #f0f4fa;
$color-black: #000;
$color-white: #fff;
$color-blue: #0067cb;
$color-lblue: #a3b8cc;