// Home for style variables
$serif-font: 'Roboto Slab', serif;
$sans-font: 'Open Sans', sans-serif;

// Colors
$primary: #FFFFFF;
$color-black: #000000;
$color-blue: #0067cb;
$color-lblue: #a3b8cc;
$color-grey: #CCCCCC;
$color-offwhite: #f0f4fa;
$color-white: #ffffff;