.outline-container {
  display: flex;
  overflow-y: auto;
  flex: 0 0 500px;
  flex-direction: column;
  margin-right: 2px;


  .tree-container {
    max-height: 100%;
    border-radius: 3px;
    background-color: transparent;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .tree-list {
      max-height: 100%;
      overflow: hidden;
      padding: 0.4em;
      padding-bottom: 1px;
      padding-right: 6px;
      overflow-y: auto;
    }
  }

}