@import 'oli/colors';
@import 'palettes/flatui';

$active-tab: $blue;

.org-tab-item {
  cursor: default;
  border-style: none;
  border-color: #CCCCCC;
  color: black;
  background-color: transparent;
  font-size: 14px;

  padding: 6px 6px 2px 8px;
  margin-bottom: 6px;

  background-color: #fff;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;

  a {
    color: $primary;
    :hover {
      text-decoration: underline;
    }
  }

  .info {
    // font-size: 12px;
    font-style: italic;
  }

  &:hover {
    background-color: lighten(#edeff0, 5%);
  }

  .dragHandleGrab {
    margin-right: 10px;

    .grip {
      margin-top: 0;
      height: 88%;
    }
  }

  .content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .info {
    .tab-label {
      color: $gray-light;
    }

    small {
      font-size: 12px;
      display: inline-block;
    }
  }
}

.tab-item-active, .tab-item-active:hover {
  border-left: 3px solid $blue;
}