.editRemove-enter {
  opacity: 0;
}

.editRemove-enter.editRemove-enter-active {
  opacity: 1;  
  transition: opacity 700ms ease;
}

.animatedButton {
  width: 75px;
  background-color: #0067cb;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 800;
}