.PulloutSentinel {
	font-size: 11px;
	font-style: bold;
	border-bottom: 1px dashed #000;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
    text-transform: uppercase;
    cursor: pointer;
}

.ExampleSentinel {
	font-size: 11px;
	font-style: bold;
	border-bottom: 1px dashed #000;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
    text-transform: uppercase;
    cursor: pointer;
}

.DefinitionSentinel {
	font-size: 11px;
	font-style: bold;
	border-bottom: 1px dashed #000;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
    text-transform: uppercase;
    cursor: pointer;
}


.SectionSentinel {
    font-size: 11px;
	font-style: bold;
	display: block;
	border-bottom: 1px dashed #000;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
    text-transform: uppercase;
    cursor: pointer;
}

.SentinelUI {
	float: right;
}