.wbinline {
	font-size: 11px;
  min-height: 50px;
	background-color: #dddddd;
	border: 1px solid #000;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
  cursor: pointer;
	margin: 5px;
	padding: 8px;
}