@import 'oli/colors';

.remove-btn {
  .btn:hover {
    color: $danger;
  }

  & button[disabled] {
    &.btn {
      color: $gray;
    }

    &.btn:hover {
      color: $gray;
    }

    &.btn:active {
      color: $gray;
    }
  }

  .remove-button-content {
    color: $danger;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }
}
