@import 'oli/colors';

.remove-btn {
  float: right;

  .btn:hover {
    i {
      color: $danger;
    }
  }

  & button[disabled] {
    &.btn {
      i {
        color: $gray;
      }
    }

    &.btn:hover {
      i {
        color: $gray;
      }
    }

    &.btn:active {
      i {
        color: $gray;
      }
    }
  }
}
