@import 'oli/colors';

.toggle-switch {
  display: inline-flex;
  flex-direction: row;
  vertical-align: middle;
  cursor: pointer;

  &.disabled {
    cursor: initial;

    &:hover {
      input[type="checkbox"].toggle {
        + .toggle-btn {

          &:after,
          &:before {
            left: 0%;
          }
        }

        &:checked + .toggle-btn:after {
          left: 45%;
        }
      }
    }

    .label {
      color: #666666;
    }
  }

  input[type="checkbox"].toggle {
    display: none;

    // add default box-sizing for this scope
    &,
    &:after,
    &:before,
    & *,
    & *:after,
    & *:before,
    & + .toggle-btn {
      box-sizing: border-box;
      &::selection {
        background: none;
      }
    }

    + .toggle-btn {
      outline: 0;
      display: block;
      width: 2.5em;
      height: 1.5em;
      position: relative;
      cursor: pointer;
      user-select: none;
      background: $gray-light;
      border-radius: 2em;
      border: 1px solid $gray-light;
      padding: 2px;
      transition: all .4s ease;

      &:after,
      &:before {
        position: relative;
        display: block;
        content: "";
        width: 55%;
        height: 100%;
      }

      &:after {
        left: 0;
        border-radius: 50%;
        background: #fff;
        transition: all .2s ease;
      }

      &:before {
        display: none;
      }
    }

    &:checked + .toggle-btn {
      background: #9FD6AE;
      border-color: #9FD6AE;
    }

    &:checked + .toggle-btn:after {
      left: 45%;
    }

    &:disabled + .toggle-btn {
      background: $gray-lighter;
      border: 1px solid $gray-lighter;
      cursor: initial;
    }

    &:checked:disabled + .toggle-btn {
      background: #c4ddcb;
      border-color: #c4ddcb;
    }

    &:checked:disabled + .toggle-btn:after {
      background: $gray-lightest;
    }
  }

  &:hover {
    input[type="checkbox"].toggle {
      + .toggle-btn {

        &:after,
        &:before {
          left: 10%;
        }
      }

      &:checked + .toggle-btn:after {
        left: 35%;
      }

      &:disabled + .toggle-btn {
        &:after,
        &:before {
          width: 55%;
        }
      }

      &:checked:disabled + .toggle-btn:after {
        left: 45%;
      }
    }
  }

  label {
    margin-bottom: 0;
  }

  .label {
    color: $black;
    font-size: inherit !important;

    &.before {
      margin-right: 5px;
    }

    &.after {
      margin-left: 5px;
    }
  }
}