@import 'oli/colors';

.toggle-switch {
  display: flex;
  flex-direction: row;
  cursor: pointer;

  input[type="checkbox"].toggle {
    display: none;

    // add default box-sizing for this scope
    &,
    &:after,
    &:before,
    & *,
    & *:after,
    & *:before,
    & + .toggle-btn {
      box-sizing: border-box;
      &::selection {
        background: none;
      }
    }

    + .toggle-btn {
      outline: 0;
      display: block;
      width: 2.5em;
      height: 1.5em;
      position: relative;
      cursor: pointer;
      user-select: none;
      background: $gray-light;
      border-radius: 2em;
      border: 1px solid $gray-light;
      padding: 2px;
      transition: all .4s ease;

      &:after,
      &:before {
        position: relative;
        display: block;
        content: "";
        width: 55%;
        height: 100%;
      }

      &:after {
        left: 0;
        border-radius: 50%;
        background: #fff;
        transition: all .2s ease;
      }

      &:before {
        display: none;
      }
    }

    &:checked + .toggle-btn {
      background: #9FD6AE;
      border-color: #9FD6AE;
    }

    &:checked + .toggle-btn:after {
      left: 45%;
    }

    &:disabled + .toggle-btn {
      background: $gray-lighter;
      border: 1px solid $gray-lighter;
    }

    &:checked:disabled + .toggle-btn {
      background: #9FD6AE;
      border-color: #9FD6AE;
    }
  }

  &:hover {
    input[type="checkbox"].toggle {
      + .toggle-btn {

        &:after,
        &:before {
          width: 65%;
        }

        &:after {
          border-radius: 45%;
        }
      }

      &:checked + .toggle-btn:after {
        left: 35%;
      }

      &:disabled + .toggle-btn {
        &:after,
        &:before {
          width: 55%;
        }

        &:after {
          border-radius: 50%;
        }
      }

      &:checked:disabled + .toggle-btn:after {
        left: 45%;
      }
    }
  }

  .label {
    color: $black;

    &.before {
      margin-right: 5px;
    }

    &.after {
      margin-left: 5px;
    }
  }
}