.caption {
  display: flex;
  flex-direction: row;

  .caption-btn {
    color: black;
    font-weight: normal;
    margin-right: 20px;

    .btn.btn-link.page {
      color: #2c3e50;
    }
    .btn.btn-link.activity {
      color: #27ae60;
    }
  }
}
