@import 'oli/colors';
@import 'oli/typography';

.editable-caption {
  display: flex;
  flex-direction: row;

  .caption-btn {
    font-weight: normal;
    margin-right: 20px;

    &.btn.btn-link,
    &.btn.btn-link:hover:not([disabled]),
    &.btn.btn-link:active:not([disabled]),
    &.btn.btn-link:focus:not([disabled]) {
      color: #2c3e50;
    }
  }

  .btn.btn-link:hover:not([disabled]),
  .btn.btn-link:active:not([disabled]),
  .btn.btn-link:focus:not([disabled]) {
    text-decoration: none;
  }

  .label {
    font-family: $sans-font;
    font-size: 10pt;
    padding-left: 30px !important;
    color: $gray;
    text-transform: uppercase;
  }
}
