@import 'oli/colors';

.org-component-editor {
  padding: 15px;

  .tab-header {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .info {
    font-size: 14px;
    font-style: italic;
    color: $gray-light;
  }
}