@import "oli/colors";
@import "oli/typography";

.org-details-editor {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 100%;

    .org-details-title {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .info {
        font-size: 14px;
        font-style: italic;
        color: $gray-light;
    }

    .org-undo-redo {
        display: flex;
        flex-direction: row;
    }

    .btn {
        i {
            margin-right: 8px;
        }
    }

    .org-tab {
        margin-left: 40px;
        margin-right: 40px;
    }

    .doc-head {
        flex: 1;
        overflow: auto;

        .action-bar {
            .btn {
                padding: 5px 20px;
                position: relative;
                top: -6px;

                &:hover {
                    border: 0px solid $blue;
                    color: $blue;
                    text-decoration: underline;
                }
            }
        }

        .nav-link {
            cursor: pointer;
        }
    }

    .tab-container {
        .tab-header {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}
