@import 'oli/colors';
@import 'oli/typography';

.org-editor {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0 0px;
  width: 350px;
  max-width: 350px;
  overflow-x: hidden;

  .btn {
    i {
      margin-right: 8px;
    }
  }

  .org-tab {
    margin-left: 40px;
    margin-right: 40px;
  }

	.doc-head {
    flex: 1;
    overflow: auto;

    .action-bar {
      .btn {
        padding: 5px 20px;
        position: relative;
        top: -6px;

        &:hover {
          border: 0px solid $blue;
          color: $blue;
          text-decoration: underline;
        }
      }
    }

    .active-tab-content {
      margin-top: 30px;

      .dragHandleGrab .grip {
        margin-top: 8px;
      }
    }

    .nav-link {
      cursor: pointer;
    }
  }

  .rst__node {
    .rst__nodeContent {
      h2 {
        color: black;
        margin-bottom: 0px !important;
        font-family: $sans-font;
        font-size: 1em;
        font-weight: 600;
      }
    }
  }
}