@import 'oli/colors';

.selected {
  background: $selection;
  border-color: $selection;
  color: $white;
}

.tree-node {

  .content {
    position: relative;
    height: 40px;
    display: block;
    padding: 0px;

    .top-drop {
      position: absolute;
      top: -5;
      height: 10px;
      width: 100%;
    }

    .node {
      flex: 1 0 0;
      height: 40px;

      .draggable-node {
        display: flex;
        flex-direction: row;
        height: 40px;

        .dragHandleGrab {
          i {
            vertical-align: middle;
            line-height: 40px;
          }
          .grip {
            height: 40px;
          }

        }

        .caption {
          flex: 1 0 0;
          margin: 0 0px;

          button, span {
            display: inline-block;
            vertical-align: middle;
            line-height: 40px;
            padding: 0px;
            margin-left: 0px;

          }
        }
      }
    }

    .bottom-drop {
      position: absolute;
      top: 35;
      height: 10px;
      width: 100%;
    }
  }
}