.tree-node {

  .caption-btn {
    i {
      margin-right: 5px;
    }
  }

  .content {
    position: relative;
    height: 40px;
    display: block;
    padding: 0px;

    .top-drop {
      position: absolute;
      top: -5;
      height: 10px;
      width: 100%;
    }

    .node {
      flex: 1 0 0;
      height: 40px;

      .draggable-node {
        display: flex;
        flex-direction: row;
        height: 40px;

        .dragHandleGrab {
          i {
            vertical-align: middle;
            line-height: 40px;
          }
        }

        .editable-caption, .caption {
          flex: 1 0 0;
          margin: 0 10px;

          button, span {
            display: inline-block;
            vertical-align: middle;
            line-height: 40px;
            padding: 0px;
            margin-left: 10px;

            &.remove-btn i {
              display: inline-block;
              vertical-align: middle;
              line-height: 40px;
            }
          }
        }
      }
    }

    .bottom-drop {
      position: absolute;
      top: 35;
      height: 10px;
      width: 100%;
    }
  }
}