@import '../../../stylesheets/abstracts/variables';

.editorWrapper {
  margin: 1;
}

.itemWrapper {
  
  margin: 1;
}

.questionContentWrapper {
  
  margin-left: 20px;
  background-color: $color-lblue;
}

.componentWrapper {
  border-style: solid;
  border-color: $color-blue;
  border-width: 1px;
  padding: 12px;
  margin-bottom: 8px;
}

.itemPart {
  background-color: #dddddd;
  padding: 9px;
}