@import 'oli/colors';
@import 'oli/mixins';
@import 'oli/zindex';

.input-list {
  @include disable-select;

  .input-list-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;

    .input-list-item-label {
      display: flex;
      flex-direction: row;
      margin-right: 10px;
      padding-top: 6px;

      .label-text {
        min-width: 16px;
      }

      .item-drag-handle {
        margin-top: 4px;
        margin-left: 10px;
      }
    }

    .input-list-item-content {
      flex: 1;
      display: block;

      .input-list-item-controls {

      }

      .input-list-item-content-title {
        font-size: 1em;

      }

      .input-list-item-options {
        display: flex;
        flex-direction: row;

        & > * {
          margin-right: 10px;

          &:last-child {
            margin-right: 0;
          }
        }

        .option-label {
          font-size: 0.8rem;
          text-transform: uppercase;
          color: $gray-dark;
        }
      }

      .drop-target-container {
        position: relative;

        .drop-target {
          position: absolute;
          top: -5px;
          left: 0;
          background-color: #f4bf42;
          height: 10px;
          width: 100%;
          margin-bottom: 8px;
          z-index: $reposition-target;
          opacity: 0;

          &.hover {
            opacity: 1;
          }
        }
      }
    }

    .remove-btn {
      padding-top: 8px;
      width: 26px;
    }

    .content-title-btn-offset {
      margin-top: 1.5em;
    }
  }
}
