@import 'oli/colors';

.InputLabel-primary {
  background-color: $blue;
  color: $white;
  width: 100px;
  max-width: 100px;
  min-width: 100px;
}

.InputLabel-default {
  width: 100px;
  max-width: 100px;
  min-width: 100px;
}

.closebtn {
  padding-left: 10px;
  color: #888;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.closebtn:hover {
  color: #000;
}
