@import 'oli/colors';
@import 'oli/mixins';
@import 'oli/zindex';

.input-list {
  @include disable-select;

  .input-list-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;

    &.hide-body {
      margin-top: 19px;
    }

    .input-list-item-label {
      display: flex;
      flex-direction: row;

      & > * {
        height: 36px;
        margin-right: 10px;

        &:last-child {
          margin-right: 0px;
        }
      }

      .label-text {
        min-width: 16px;
        padding-top: 8px;
      }

      .item-drag-handle {
        padding-top: 6px;
      }

      .input-list-item-controls {
        display: flex;
        flex-direction: row;
      }

    }

    .input-list-item-content {
      flex: 1;
      display: block;
      position: relative;
      border: solid 2px transparent;
      padding-left: 25px;

      &.drop-hover {
        border: dashed 2px #f4bf42;
        border-radius: 5px;

        & > * {
          opacity: 0.3;
        }

        .drop-target-container {
          position: absolute;
          opacity: 1;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: $reposition-target - 1;
        }
      }

      &.hide-body {
        margin-top: -19px;
      }

      .input-list-item-content-title {
        font-size: 18px;
        margin-bottom: 10px;
      }

      .input-list-item-options {
        display: flex;
        flex-direction: row;

        & > * {
          margin-right: 10px;

          &:last-child {
            margin-right: 0;
          }
        }

        .option-label {
          font-size: 0.8rem;
          text-transform: uppercase;
          color: $gray-dark;
        }
      }
    }

    .remove-btn {
      padding-top: 5px;
      width: 26px;

      button {
        &:hover {
          color: lighten($remove, 10%);
        }
      }

      button {
        &:active {
          color: darken($remove, 10%);
        }
      }
    }

    .content-title-btn-offset {
      margin-top: 1.5em;
    }
  }
}
