@import 'oli/colors';

.removable-content {
  .content-title {
    display: flex;
    flex-direction: row;

    .remove-btn {
      &:hover {
        i {
          color: $danger;
        }
      }
    }
  }
}
