@import 'oli/typography';

.main {

  display: flex;
  flex-direction: column;
  height: 100%;

  .main-header {
    flex: 0 0 auto;
  }

  .main-content {
    flex: 1 1 auto;
    position: relative;/* need this to position inner content */
    overflow: hidden;
    display: flex;
  }

  .main-footer {
    flex: 0 0 auto;
  }

  .editor {

    h2 {
      font-family: $serif-font;
      display: inline-block;
    }
  }

}
