@import 'oli/colors';

.message {
  .btn-action {
    font-weight: 700;
    font-size: .9rem;
    padding: .5rem 1rem;
    text-transform: uppercase;
    border: 2px solid hsla(0,0%,100%,.2);
    border-radius: 5px;
    color: white;

    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  &.message--error {
    background-color: $alizarin;
    .message-text {
      color: white;
    }
  }

  &.message--warning {
    background-color: $info;
    .message-text {
      color: white;
    }
  }

  &.message--information {
    background-color: $peter-river;
    .message-text {
      color: white;
    }
  }
}
