
.messages {
  background-color: #0067cb;

  .message-enter {
    height: 0px;

    & > * {
      opacity: 0;
    }
  }

  .message-enter.message-enter-active {
    height: 40px;
    transition: height 250ms ease-in-out;

    & > * {
      opacity: 1;
      transition: opacity 350ms ease-in;
    }
  }

  .message-leave {
    height: 40px;

    & > * {
      opacity: 1;
    }
  }

  .message-leave.message-leave-active {
    height: 0px;
    transition: height 250ms ease-in-out;

    & > * {
      opacity: 0;
      transition: opacity 100ms ease-in;
    }
  }
}
